[*]
charset=utf-8
end_of_line=lf
insert_final_newline=true
indent_style=space
indent_size=2
trim_trailing_whitespace=true

[{messages.*,messages,org.codehaus.groovy.runtime.ExtensionModule,spring.schemas,spring.handlers,*.properties}]
indent_style=space
indent_size=4

[{*.vsl,*.vm,*.ft}]
indent_style=space
indent_size=4

[{*.gson,*.gradle,*.groovy,*.gdsl,*.gy,*.gant}]
indent_style=space
indent_size=4

[{*.yml,*.yaml}]
indent_style=space
indent_size=2

